.jumbotron {
    height: auto;
    margin-top: 51px;
    #background-image: url('../../assets/logo-shadow.png');
    #background-repeat: no-repeat;
    #background-position: 10% 50%;

}

.jumbotron-primary {
    font-size: 2.0em;
}
.jumbotron-secondary {
    font-size: .6em;
}
.navbar {
    margin: 0px;
}

.vertical-align {
    display: flex;
    align-items: center;
}
/* Extra small devices (767px and down) */
@media (max-width: 767px) {
    .row.vertical-align {
        display: block; /* Turn off the flexible box layout */
    }
}